<!DOCTYPE html>
<html lang="en" data-theme="lemonade">
  <head>
    <title>TemplateProjects</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="main-container">
      <%= render 'layouts/shared/header' %>
      <main>
        <%= yield %>
      </main>
      <%= render "layouts/shared/footer", padding_top: "mt-1" %>
    </div>
    <div id="flash-toast"></div>
    <% if flash.any? %>
      <%= render 'layouts/shared/toast' %>
    <% end %>
  </body>
</html>
