<!DOCTYPE html>
<html lang="en" data-theme="nord">
  <head>
    <title> <%= @page_title %> | TemplateProjects</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="charset" content="utf-8" >
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= render(Landing::MainContainerComponent.new) do %>
      <%= render(Landing::ContainerComponent.new) do %>
        <%= render(Landing::HeaderComponent.new) %>
      <% end %>
      <%= yield %>
      <%= render(Landing::ContainerComponent.new) do %>
        <%= render(Footer::FooterComponent.new) %>
      <% end %>
    <% end %>
  </body>
</html>
